.cardOptionsContainer {
  position: absolute;
  background-color: white;
  border-radius: 8px;
  z-index: 1;
  right: 0;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
}

.dropdown-divider {
  margin: 0 !important;
}
