.searchContainer {
  padding-top: 40px;
}
.searchGroup {
  width: 320px !important;
  border: 1px solid #ced4da;
  border-radius: 6px;
}

.text-input {
  border: none !important;
}
.text-input:focus {
  box-shadow: none !important;
}

.input-group {
  align-items: center !important;
}

.searchIcon {
  margin-left: 10px;
  width: 17.5px;
  height: 17.5px;
}

.cancelIcon {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.searchHelper {
  font-weight: 500;
  font-size: 16px;
  color: #717171;
}
